<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band Finder</title>
</head>
<body>
<h1 th:text="${band != null ? 'Band: ' + band.name : 'Band not found.'}"></h1>

<h2 th:text="${genre != null ? 'Genre: ' + band.genre : 'Genre not found.'}"></h2>
<h2 th:text="${description != null ? 'About us: ' + band.description : 'Nic'}"></h2>
<h2 th:text="${lookFor != null ? 'Looking for: ' + lookFor.name : 'instrument not found.'}"></h2>



<a th:if="${band != null}" th:href="@{'/bands/' + ${band.id} + '/edit'}">Edit Band</a>
<a th:if="${band != null}" th:href="@{'/bands/' + ${band.id} + '/delete'}">Delete Band</a>

<a th:if="${band == null}" th:href="@{/bands/}">Back to Band List</a>
<a th:href="@{/bands/}">Cancel</a>

</body>
</html>